<figure class="banner">
  <div class="wrapper">
    <img
      src="https://scontent.fsgn2-3.fna.fbcdn.net/v/t39.30808-6/324346294_845949776462196_5687712027091176112_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGfLdy3gyuPLei98oZQLG3881-Kwwx4b2PzX4rDDHhvY04D53Hd35qHFAUbSFXB_qAxIQb7FE5aIW6Jq4D0vOHh&_nc_ohc=6B22QwfQxpYQ7kNvgEZtEU5&_nc_ht=scontent.fsgn2-3.fna&oh=00_AYDv-Y42Q_-4CL4vvt93_hjU-uhY72CYZX8ttpcwxj534g&oe=665BA100"
      alt="mixi_banner"
      class="banner__mixi"
    />
    <img
      src="https://scontent.fsgn2-9.fna.fbcdn.net/v/t39.30808-6/272300139_943553489631321_6094076503288224973_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFw1kI7b-yYX-QRtb5v1Vegf41LliIpkPp_jUuWIimQ-l2yn1RIUDXiAcfMbj0fwhPafJ-VLVdUAkErGPDwir_w&_nc_ohc=YiA1vZzOvnkQ7kNvgF-_32T&_nc_ht=scontent.fsgn2-9.fna&oh=00_AYBlUBmo7rdNEkQ-6QfSEfvRgqpk90X-4kc0o4JvTODitw&oe=665B8B98"
      alt="mixi_banner"
      class="banner__mixi"
    />
    <img
      src="https://scontent.fsgn2-4.fna.fbcdn.net/v/t1.6435-9/147429580_746010902718915_161400099841107660_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHqMJTXEA3lZ1d-P76bob20i0KnAeAtsW6LQqcB4C2xbrhdflKzAfnacp4goEV4g5tMgswkkZtWkkre5sAPGFqF&_nc_ohc=sqJIcIG1AXcQ7kNvgEO3k2A&_nc_ht=scontent.fsgn2-4.fna&oh=00_AYAiEYIm-V_p_ACxTYO-5iqDI23qvmfZ9_OB-t8jqyIO9w&oe=667D4527"
      alt="mixi_banner"
      class="banner__mixi"
    />
    <img
      src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t1.6435-9/30705085_182677042385640_8285350569523019776_n.png?_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHtRN4u8d2oVzFdpdNWrUKL7pSbjrudeqDulJuOu516oN7HHG4cBt6NVDlI-Inf7JkwuX5JIHYOo9gp1k62LVhX&_nc_ohc=smOEdUWpV7QQ7kNvgH7o-xn&_nc_ht=scontent.fsgn2-6.fna&oh=00_AYDn8J-9WyJDZZmNqcfGlslN2jzWPNjpApQ45Fgx1p5ABw&oe=667D204D"
      alt="mixi_banner"
      class="banner__mixi"
    />
  </div>
</figure>
