<div class="container">
  <div class="footer_bar">
    <div class="row">
      <div class="col-lg-3">
        <h2 class="footer__title">Về chúng tôi</h2>
        <p class="footer__desc">
          Website chính thức và duy nhất của MixiShop. Hiện tại chúng mình chỉ
          nhận đơn hàng trên website chứ không nhận bất kỳ nơi nào khác nhé!
        </p>
      </div>
      <div class="col-lg-3">
        <h2 class="footer__title">Danh mục sản phẩm</h2>
        <ul style="list-style-type: disc" class="footer__list-menu">
          <li class="menu__list">
            <a class="menu__link" href="#!">Áo CSGO</a>
          </li>
          <li class="menu__list">
            <a class="menu__link" href="#!">Áo Mixi</a>
          </li>
          <li class="menu__list">
            <a class="menu__link" href="#!">Áo PUBG</a>
          </li>
          <li class="menu__list">
            <a class="menu__link" href="#!">Áo Refund Gaming</a>
          </li>
          <li class="menu__list">
            <a class="menu__link" href="#!">Đồ lưu niệm Mixi</a>
          </li>
          <li class="menu__list">
            <a class="menu__link" href="#!">Áo ba lỗ</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h2 class="footer__title">Thông tin</h2>
        <ul style="list-style-type: disc" class="footer__list-menu">
          <li class="menu__list">
            <a class="menu__link" href="#!">Giới thiệu</a>
          </li>
          <li class="menu__list">
            <a class="menu__link" href="#!">Chính sách bảo mật</a>
          </li>
          <li class="menu__list">
            <a class="menu__link" href="#!">Điều khoản </a>
          </li>
          <li class="menu__list">
            <a class="menu__link" href="#!">Sitemap</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h2 class="footer__title">Hỗ trợ</h2>
        <p class="support">
          Mọi thắc mắc và góp ý cần hỗ trợ xin vui lòng liên hệ Fanpage và
          Instagram
        </p>
        <div class="act__social">
          <a href="#!" class="social__link">
            <i class="gg-facebook"></i>
          </a>
          <a href="#!" class="social__link">
            <i class="gg-instagram"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="footer__line"></div>
    <div class="footer__dmca">
      <h2 class="copyright">
        Copyright 2024 ©
        <span style="font-weight: 600; color: black">MixiShop</span>
      </h2>

      <img
        src="https://images.dmca.com/Badges/dmca_protected_4_120.png?ID=6b2ba16f-50e0-4ca6-84e7-96c103bcddf7"
        alt="dmca"
        class="dmca__img"
      />
    </div>
  </div>
</div>
