<header class="menu__header">
  <input type="checkbox" class="menu__checkbox" name="" id="menu__checkbox" />
  <label for="menu__checkbox" class="menu__overlay"></label>

  <div class="menu__drawer">
    <a href="../" class="logo">
      <img
        src="../assets/icons/logo-mixi.png"
        alt="mixigaming"
        class="logo__image"
      />
    </a>
    <ul class="list__menu">
      <li>
        <a href="https://thangluunhu.xyz">MIXI SHOP</a>
      </li>
      <li>
        <a href="#!">ĐỒ LƯU NIỆM MIXI</a>
      </li>
      <li>
        <a href="#!">ÁO</a>
      </li>
      <li>
        <a href="../gioi-thieu/index.html">THÔNG BÁO</a>
      </li>
      <li class="menu__social">
        <a href="#!"><i class="gg-instagram"></i></a>
        <a href="#!"><i class="gg-facebook"></i></a>
      </li>
    </ul>
  </div>
</header>
<div class="container">
  <div class="top-bar">
    <div class="top-bar__more">
      <label class="icon-responsive" for="menu__checkbox"
        ><svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M2 8C2 7.44772 2.44772 7 3 7H21C21.5523 7 22 7.44772 22 8C22 8.55228 21.5523 9 21 9H3C2.44772 9 2 8.55228 2 8Z"
            fill="currentColor"
          />
          <path
            d="M2 12C2 11.4477 2.44772 11 3 11H21C21.5523 11 22 11.4477 22 12C22 12.5523 21.5523 13 21 13H3C2.44772 13 2 12.5523 2 12Z"
            fill="currentColor"
          />
          <path
            d="M3 15C2.44772 15 2 15.4477 2 16C2 16.5523 2.44772 17 3 17H15C15.5523 17 16 16.5523 16 16C16 15.4477 15.5523 15 15 15H3Z"
            fill="currentColor"
          /></svg
      ></label>
    </div>
    <a href="../" class="logo">
      <img
        src="../assets/icons/logo-mixi.png"
        alt="mixigaming"
        class="logo__image"
      />
    </a>
    <button class="top-act__btn">
      <svg
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          cx="11.7659"
          cy="11.7659"
          r="8.98856"
          stroke="#1A162E"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M18.0176 18.4844L21.5416 21.9992"
          stroke="#1A162E"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <nav class="navbar">
      <ul class="navbar__list">
        <li>
          <a href="../" class="navbar__link navbar__link-home">HOME </a>
        </li>
        <li id="product-more-list" class="navbar__link-list">
          <input type="checkbox" id="menu-toggle" class="menu-toggle" />
          <label for="menu-toggle" class="menu-button navbar__link"
            >DANH MỤC SẢN PHẨM
            <img
              class="icon"
              src="../assets/icons/arrow-down.svg"
              alt=""
              class="navbar__arrow"
            />
          </label>

          <div id="product-more-list" class="product-more-list">
            <div class="container">
              <div class="row">
                <div class="col-lg-4">
                  <div class="more-list-title">Danh mục sản phẩm</div>
                  <ul class="product-list">
                    <li class="product-list__item">
                      <i class="fa-solid fa-angle-right"></i
                      ><a href="#!"> Đồ lưu niệm Mixi</a>
                    </li>
                    <li class="product-list__item">
                      <i class="fa-solid fa-angle-right"></i
                      ><a href="#!">Áo Mixi</a>
                    </li>
                    <li class="product-list__item">
                      <i class="fa-solid fa-angle-right"></i
                      ><a href="#!">Áo ba lỗ</a>
                    </li>
                    <li class="product-list__item">
                      <i class="fa-solid fa-angle-right"></i
                      ><a href="#!">Áo Refund Gaming</a>
                    </li>
                    <li class="product-list__item">
                      <i class="fa-solid fa-angle-right"></i
                      ><a href="#!">Áo PUBG</a>
                    </li>
                    <li class="product-list__item">
                      <i class="fa-solid fa-angle-right"></i
                      ><a href="#!">Áo CSGO</a>
                    </li>
                  </ul>
                  <div class="act-more-btn">
                    <a href="#!" class="more_btn-product"> Xem tất cả </a>
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="more__act-products">
                    <div class="more-item">
                      <img
                        src="https://shop.mixigaming.com/wp-content/uploads/2021/11/NM_D9485-scaled.jpg"
                        alt="more__img"
                        class="more__img"
                      />
                      <a href="#! " class="more__link"
                        >Xem thêm

                        <i class="fa-solid fa-angle-right"></i>
                      </a>
                    </div>
                    <div class="more-item">
                      <img
                        src="https://shop.mixigaming.com/wp-content/uploads/2021/01/binh-giu-nhiet-mixi-4-2048x1365.jpg"
                        alt="more__img"
                        class="more__img"
                      />
                      <a href="#! " class="more__link"
                        >Xem thêm

                        <i class="fa-solid fa-angle-right"></i>
                      </a>
                    </div>
                    <div class="more-item">
                      <img
                        src="https://shop.mixigaming.com/wp-content/uploads/2021/01/2-2048x1366.jpg"
                        alt="more__img"
                        class="more__img"
                      />
                      <a href="#! " class="more__link"
                        >Xem thêm <i class="fa-solid fa-angle-right"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li>
          <a href="../gioi-thieu/" class="navbar__link navbar__link-noti"
            >THÔNG BÁO
          </a>
        </li>
      </ul>
    </nav>

    <ul class="top-act">
      <li class="phone-group">
        <a href="tel:0822221992" class="phone">
          <i class="icon gg-phone"></i>
          <span class="phone__number">0822221992</span>
        </a>
      </li>
      <li class="top-act-group__line"></li>

      <li class="cart-group">
        <a href="../cart/shop-cart.html" class="cart">
          <span class="cart__name nav">GIỎ HÀNG</span>
          <i class="icon gg-shopping-cart"></i>
          <p class="count" id="count">0</p>
        </a>

        <div class="cart__hover">
          <div class="cart__hover--top">
            <div class="cart__hover--none">
              <span class="cart__hover--title--text">GIỎ HÀNG</span>
              <span class="cart__hover--title--count"
                >Chưa có sản phẩm trong giỏ hàng.</span
              >
            </div>
          </div>

          <div class="cart__hover--content">
            <span class="cart__hover--title--text">GIỎ HÀNG</span>
            <div class="cart_hover--item">
              <img
                src="../assets/img/products/prd-01.jpeg"
                alt=""
                class="cart__hover--img"
              />
              <div class="cart__hover--info">
                <a href="#!" class="cart__hover--name"> Cốc Mixi 1200ml</a>
                <span class="cart__hover--price">250,000 ₫</span>
              </div>

              <a href="#!"><i class="gg-close-o"></i></a>
            </div>
            <div class="cart_hover--item">
              <img
                src="../assets/img/products/prd-02.jpeg"
                alt=""
                class="cart__hover--img"
              />
              <div class="cart__hover--info">
                <a href="#!" class="cart__hover--name"> Áo Sologan Mixi</a>
                <span class="cart__hover--price">250,000 ₫</span>
              </div>
              <a href="#!"><i class="gg-close-o"></i></a>
            </div>
            <div class="cart_hover--item">
              <img
                src="../assets/img/products/prd-03.jpeg"
                alt=""
                class="cart__hover--img"
              />
              <div class="cart__hover--info">
                <a href="#!" class="cart__hover--name"> Áo phông Mixi </a>
                <span class="cart__hover--price">250,000 ₫</span>
              </div>
              <a href="#!"><i class="gg-close-o"></i></a>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="cart">
      <a href="../cart/shop-cart.html">
        <i class="icon-responsive icon gg-shopping-cart"></i
      ></a>
    </div>
  </div>
</div>
