@use "../abstracts";

.logo {
  &__image {
    width: 151px;
    height: 90px;

    @include abstracts.breakpoint(sm) {
      width: 120.66px;
      height: 70px;
      object-fit: cover;
    }
  }
}
