@use "../abstracts";
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

%flexItem {
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop {
  display: flex;
  @include abstracts.breakpoint("lg") {
    flex-direction: column;
  }
  @include abstracts.breakpoint("sm") {
    flex-direction: column;
  }
  &__title {
    @include abstracts.breakpoint("sm") {
      text-align: center;
      font-size: 2.5rem;
      font-weight: 750;
    }
    @include abstracts.breakpoint("lg") {
      text-align: center;
      font-size: 2.5rem;
      font-weight: 750;
    }
    margin-top: 25px;
    color: black;
    font: {
      size: 2.3rem;
      weight: 650;
    }
  }

  &__link {
    @include abstracts.breakpoint("sm") {
      text-align: center;
    }
    @include abstracts.breakpoint("lg") {
      text-align: center;
    }
    margin-top: 15px;
    font-size: 1.3rem;
  }
  &__img {
    margin-top: 25px;
    @include abstracts.breakpoint("sm") {
      width: 100%;
    }
    @include abstracts.breakpoint("lg") {
      width: 100%;
    }
    @include abstracts.breakpoint("xl") {
      width: 100%;
    }
  }
}
.link__act {
  opacity: 0.6;
}
.filter {
  margin-top: 35px;
  width: 45%;
}

.products-shop {
  margin-top: 20px;
}
.filter__title {
  @include abstracts.breakpoint("lg") {
    display: none;
  }
  color: black;
  font: {
    size: 1.7rem;
    weight: 650;
  }
}

.filter__title::after {
  content: "";
  display: block;
  width: 35px;
  height: 4px;
  background-color: #dedede;
  margin-top: 7px;
}

.products-shop a {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.products-shop a:hover {
  transform: translateY(-10px);
  transition: 0.35s ease;
}

.products__title--name {
  margin-top: 15px;
  color: black;
  font: {
    size: 1.4rem;
    weight: 650;
  }
}

.products__quantity {
  margin-top: 5px;
  text-transform: uppercase;
  color: #007784;
  font-size: 1.25rem;
}
.products-shop a:hover .products__quantity {
  color: #8224e3;
}
.products__list {
  @include abstracts.breakpoint("lg") {
    display: none;
  }
  margin-top: 25px;
}
.nav__list {
  margin-top: 20px;
}

.hash__link {
  color: #007784;
}

.hash__link:hover {
  color: #8224e3;
}
.ads {
  @extend %flexItem;
  border-radius: 10px;
  flex-direction: column;

  margin-top: 50px;
  width: 250px;
  height: 600px;
  background-color: #dedede;
  @include abstracts.breakpoint("lg") {
    width: 222%;
    height: 200px;
  }
  &__img {
    width: 250px;
    height: 600px;
    object-fit: cover;
    overflow: hidden;
  }
}

.ao_img {
  width: 600px;
  height: 750px;

  object-fit: cover;
  @include abstracts.breakpoint("xl") {
    width: 450px;
  }
  @include abstracts.breakpoint("sm") {
    width: 100%;
  }
  @include abstracts.breakpoint("lg") {
    width: 100%;
    min-height: 700px;
  }
  @include abstracts.breakpoint("md") {
    width: 100%;
  }
}

.size__img {
  width: 550px;
  height: 300px;
  object-fit: cover;
  @include abstracts.breakpoint("sm") {
    width: 100%;
  }

  @include abstracts.breakpoint("lg") {
    width: 100%;
    height: 300px;
  }
  @include abstracts.breakpoint("md") {
    width: 100%;
    height: 230px;
  }
}

.size {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include abstracts.breakpoint("lg") {
    justify-content: space-between;
  }
  @include abstracts.breakpoint("sm") {
    justify-content: space-between;
  }
}

.size__table {
  font-size: 1.5rem;
  font-weight: 300;
  color: #1111117e;
  width: 300px;
  height: 35px;
  border-radius: 15px;
  background-color: transparent;
  @include abstracts.breakpoint("sm") {
    width: 250px;
  }
}

.act__cart {
  cursor: pointer;
  border-radius: 20px;
  @extend %flexItem;
  width: 250px;
  height: 35px;
  background-color: #dda592;
  @include abstracts.breakpoint("sm") {
    width: 200px;
  }
}
.btn__cart {
  padding: 13px 30px;
  color: white;
  font-size: 1.2rem;
  font-weight: 650;
}

.content {
  margin-top: 35px;
}

.info__product-title {
  font-size: 2.6rem;
  font-weight: 600;
  color: black;
  @include abstracts.breakpoint("sm") {
    margin-top: 20px;
  }
  @include abstracts.breakpoint("lg") {
    margin-top: 20px;
  }
}
.info__product-rate {
  padding: 20px 0;
}
.info__product--desc {
  font-size: 1.5rem;
  color: #007784;

  &:hover {
    color: #8224e3;
  }
}
.prc {
  font-weight: 600;
  font-size: 2.7rem;
  color: #111111;
}
.title__size {
  margin-top: 10px;
  padding: 0 0 20px 0;
  font-size: 1.6rem;
  color: black;
}

.add-to-cart {
  margin-top: 35px;
  display: flex;
  align-items: center;
  gap: 25px;
  @include abstracts.breakpoint("sm") {
    gap: 55px;
  }
}
.card__number {
  text-align: center;
  color: black;
  font-size: 2rem;
  border-radius: 99px;
  width: 90px;
  height: 40px;
}

.box {
}

.size__desc {
  color: black;
  font-size: 1.6rem;
  font-weight: 700;

  @include abstracts.breakpoint("md") {
    font-size: 1.3rem;
  }
}
.slide__product {
  margin-top: 30px;
}

.slide__header--desc {
  font-size: 2rem;
  color: black;
  font-weight: 600;
  margin-bottom: 25px;

  @include abstracts.breakpoint("sm") {
    text-align: center;
    font-size: 1.6rem;
  }
}
